apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-api
  namespace: sre-demo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: order-api
  template:
    metadata:
      labels:
        app: order-api
        version: v1
    spec:
      containers:
        - name: order-api
          image: ghcr.io/funcodesonali/order-api-sre/order-api:0754ce5
          ports:
            - containerPort: 80